<h2>Add New Gram</h2>

<form {{action "createGram" on="submit"}} id="new-gram-form">
  <figure class="gram__figure">
    {{#if gram.imageUrl}}
    <img class="gram__image" src="{{gram.imageUrl}}" alt="emstagram">
    {{else}}
    <a href="#" class="gram__placeholder" {{action "showFilepicker"}}>
      <div class="vertical-center">
        <div aria-hidden="true"><span class="icon icon-camera icon--xl"></span></div>
        <div class="text-group">
          <h3>Choose Image</h3>
          <p><em>Click to add an image</em></p>
        </div>
      </div>
    </a>
    {{/if}}
  </figure>

  <div class="pull-right">
    {{#if gram.imageUrl}}
    <a href="#" {{action "showFilepicker"}}>Choose New Image</a>
    {{else}}
    <a href="#" {{action "setSampleImage"}}>Use Sample Image</a>
    {{/if}}
  </div>

  <div class="form-group">
    <ul class="list-inline">
      <li>{{#link-to 'grams' class="cancel-button"}}Cancel{{/link-to}}</li>
      <li><button class="button" disabled={{isDisabled}} type="submit">Create a gram</button></li>
    </ul>
  </div>

  {{#if showFilepicker}}
    {{ember-filepicker
      pickerOptions=filepickerOptions
      onSelection="setImageUrl"
      onClose="closeFilepicker"}}
  {{/if}}
</form>
