<h2>Add New Gram</h2>

<form {{action "createGram" on="submit"}} id="new-gram-form">
  <p>imageUrl: {{gram.imageUrl}}</p>
  <p>imageFilename: {{gram.imageFilename}}</p>

  {{#if gram.imageUrl}}
    <img src={{gram.imageUrl}} alt="">
  {{/if}}

  <button {{action "mockFilePick"}} class="mockFilePick">mockFilePick</button>
  <br>
  <button {{action "setOpenPicker"}}>Add Image</button>
  <br>
  <button disabled={{isDisabled}} type="submit">Create a gram</button>

  {{#link-to 'grams' class="cancel-button"}}Cancel{{/link-to}}

  {{#if openPicker}}
    {{ember-filepicker
      pickerOptions=filepickerOptions
      onSelection="onSelection"
      onClose="onClose"
      onError="onError"}}
  {{/if}}
</form>
