<div class="container">
  <form class="login-form" {{action "authenticate" on="submit"}}>
    {{#if loginErrorMessage}}
    <p class="error">{{loginErrorMessage}}</p>
    {{/if}}

    <div class="form-group">
      <label for="login-identification">email</label>
      {{input class="input-text" id="login-identification" value=identification type="email" required="required"}}
    </div>

    <div class="form-group">
      <label for="login-password">password</label>
      {{input class="input-text" id="login-password" value=password type="password" required="required"}}
    </div>

    <div class="form-submit">
      <button class="button">Log In</button>
    </div>

    <a href="#" class="form-helper" {{action "sampleLogin"}} title="You're a wizard, Harry."><em>log in with sample credentials</em></a>
  </form>
</div>
