<span class="gram__username">{{gram.user}}</span>
<figure class="gram__figure">
  <img src="{{gram.imageUrl}}" alt="emstagram">
</figure>

{{#if isAuthenticated}}
<button class="gram__toggle-like" {{action "toggleLike"}}>
  <span class="gram__liked">{{likeText}}</span>
</button>
{{/if}}

<span class="gram__likes">{{gram.likes}}</span>

{{yield}}
