<div class="gram__controls">
  <strong class="gram__username">{{gram.user.username}}</strong>
  <span class="gram__likes">{{gram.likes.length}} <span class="gram__likes-label">{{likesLabel}}</span></span>

  {{#if isAuthenticated}}
  <a href="#" class="gram__toggle-like {{if currentUserLike "is-liked"}}" {{action "toggleLike"}}>
    <span class="icon icon-heart"></span>
    <span class="gram__liked">{{if currentUserLike "Liked" "Like"}}</span>
  </a>
  {{/if}}
</div>

<figure class="gram__figure">
  {{#link-to 'grams.gram' gram.id class="gram__details"}}
  <img class="gram__image" src="{{gram.imageUrl}}" alt="emstagram">
  {{/link-to}}
</figure>

{{#if showDeleteButton}}
  <button class="button gram__delete" {{action "delete"}}>Delete</button>
{{/if}}
