<span class="gram__username">{{gram.user.username}}</span>
<figure class="gram__figure">
  <img src="{{gram.imageUrl}}" alt="emstagram">
</figure>

{{#if isAuthenticated}}
<button class="gram__toggle-like" {{action "toggleLike"}}>
  <span class="gram__liked">{{if like "Liked" "Like"}}</span>
  <span class="gram__likes">({{gram.likes.length}})</span>
</button>
{{/if}}
