<div class="gram__controls">
  <strong class="gram__username">{{gram.user.username}}</strong>

  {{#if isAuthenticated}}
  <a href="#" class="gram__toggle-like" {{action "toggleLike"}}>
    <span class="gram__liked">{{if like "Liked" "Like"}}</span>
    <span class="gram__likes">({{gram.likes.length}})</span>
  </a>
  {{else}}
  <span class="gram__likes">({{gram.likes.length}})</span>
  {{/if}}
</div>

<figure class="gram__figure">
  <img class="gram__image" src="{{gram.imageUrl}}" alt="emstagram">
</figure>
